STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
# REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
PAYTM_MERCHANT_ID=
PAYTM_MERCHANT_KEY=
PAYTM_WEBSITE_NAME=WEBSTAGING
PAYTM_CALLBACK_URL=http://localhost:9000/store/payment/paytm/callback
PAYTM_ENVIRONMENT=staging
PHONEPE_CLIENT_ID=
PHONEPE_CLIENT_SECRET=
PHONEPE_CLIENT_VERSION=1
PHONEPE_MERCHANT_ID=
PHONEPE_REDIRECT_URL=http://localhost:8000/payment/phonepe/redirect
PHONEPE_ENVIRONMENT=sandbox
PHONEPE_BASE_URL=
MARKETPLACE_SETUP_TOKEN=
MARKETPLACE_AUTO_PAYOUT_ON_ORDER_COMPLETED=false
